*{
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  font-family: 'Roboto', sans-serif;
  
}
header{
  margin-top: 2rem;
  padding-bottom: 1rem;
  position: fixed; 
  z-index: 999;
  width: 100%;
}

#nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 3.75rem;
  background-color: transparent;
  
}
header ul{
  display: flex;
}
header li{
margin-right: 5.5rem;
padding: .5rem;
font-size: 18px;
}
header input {
  height: 1.5rem;
  width: 13rem;
  border-radius: 2rem;
  align-items: center;
  padding-left: .5rem
}
#logo{
  height: 2.2rem;
  width: 3.25rem;
}

#principal-section{
  height: 90vh;
  display: grid;
  grid-template-columns: 1.35fr 2fr;
  
}
#left-side{
  display: flex;
  padding: 1rem;
  margin-left: 6.93rem;
}
#announcement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tittle-announcement h1{
  text-align: left;
  line-height: 4rem;
  font-size: 50px;
  font-weight: 700;
}
#subtittle-announcement h5{
  font-weight:400;
  font-size: 18px;
  color:#9c9c9c;
}
#price p {
  margin-top:.5rem;
  font-size: 22px;
}
#announcement button{
  color:aliceblue;
  font-weight:700;
  background-color: red;
  padding: 1.5rem;
  width: 17rem;
  border-radius: 2rem;

  margin-top: 1rem;
}
#right-side{
 display: flex;
 flex-direction: column;
 justify-content:center;
 align-items:center;
background-color: #9c9c9c;
 border-radius: 0rem 0rem 0rem 1.5rem;
}

.toggle{
  margin-top: 4rem;
  height: 22rem;
  
}
#galeria{
  display:flex;
  justify-content: space-evenly;
  
  width: 100%;
  margin-bottom: 1rem;
}
#galeria img{
  height: 9rem;
 
}
#down-side{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 1.1rem;
  height: 8rem;
}
#down-side img{
  
  height: 9rem;
}
#down-side ul{
  margin-left: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#down-side li{
  display: flex;
  padding: 0rem 2rem 0rem 2rem;
  height: 8rem;
  align-items: center;
}
#down-side span li{
  color: aliceblue;
  width: 14rem;
  background-color: black;
 
}
.scroll{
  align-content: center;
  background-color: #302f2f;
  color: aliceblue;
  margin-top: 0rem;
  height: 1.5rem;
  padding-top: 1rem;
}
/*
→fazer os befores e os hovers da página
→fazer um root com as cores dos elementos
→ mudar as imagens do tênis
→colocar os icons na página
*/  



